.vscode
bin
lib
src/App.properties


https://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@github.com/kaua3-c/FatecIpi-27-10.git
https://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@github.com/kaua3-c/OracleCloud.git